    /* NewNavbar.css */
    
    span {
        font-size: 11px;
        padding-left: 5px;
        color: rgb(204, 200, 195);
    }
    
    .central-home {
        background-color: black;
        border-left: 1px solid rgb(102, 94, 94);
        border-right: 1px solid rgb(102, 94, 94);
        height: 100vh;
        width: 99.%;
        /* border-left: 5px; */
    }
    
    .new-navbar {
        background-color: black;
        display: grid;
        grid-template-columns: 46% 46% 8%;
        position: fixed;
        height: 4rem;
        width: 44.9%;
        padding-top: 10px;
        top: 0;
    }
    
    .for-you {
        /* width: 47%; */
        text-align: center;
    }
    /* .following {
    width: 47%;
} */
    
    .nav-button {
        flex-grow: 1;
        padding: 0px;
        /* padding-right: 10px; */
        text-decoration: none;
        background-color: black;
        color: white;
        transition: background-color 0.2s ease;
    }
    
    .nav-button:hover {
        background-color: #333;
        border-radius: 5px;
        /* Hover color */
    }
    
    .settings-button {
        border-radius: 50%;
        background-color: black;
        /* padding-right: 1%; */
        /* margin-right: 1px solid; */
    }
    
    .settings-button:hover {
        background-color: #333;
        /* border-radius: 100%; */
        /* Hover color */
    }
    
    .line {
        border: 10px;
        height: 1px;
        /* Adjust the thickness of the line */
        background-color: rgb(102, 94, 94);
        width: 100%;
    }
    
    .post-tweet {
        color: white;
        bottom: 0;
        display: grid;
        grid-template-columns: 1fr 10fr;
        margin-right: 10%;
    }
    
    .profile-pic {
        width: 40px;
        border-radius: 100%;
        padding-left: 5px;
        padding-right: 20px;
    }
    
    .textarea-tweet {
        background-color: black;
        width: 98%;
        height: 80px;
        border: 0;
        outline: none;
        color: white;
        resize: none;
    }
    
    .tweet-div {
        text-align: right;
    }
    
    .tweet-button {
        background-color: rgb(19, 102, 102);
    }
    
    hr {
        border: #333 solid 1px;
    }
    
    .post {
        /* margin-left: 0%;
        border: 0%; */
        padding: 0%;
    }