/* SearchNavbar.css */

.search-navbar {
    background-color: black;
    padding-top: 25px;
    display: flex;
    align-items: center;
}

.search-section {
    background-color: black;
    width: 100%;
    height: 100rem;
}

.search-box {
    display: flex;
    background-color: black;
    align-items: center;
    /* border: 1px solid #ccc; */
    height: 4rem;
    position: fixed;
    /* Border for the oval shape */
    /* border-radius: 20px; */
    /* Oval shape border-radius */
    overflow: hidden;
    /* margin: 5px; */
}

input {
    border: none;
    outline: none;
    padding: 10px;
    width: 100%;
    border-radius: 20px;
    /* Oval shape border-radius */
}

.search-icon {
    color: #666;
    margin: 0 10px;
}