/* Navbar.css */

.main-navbar {
    width: 100%;
}

.navbar {
    background-color: black;
    border-left: 10%;
    padding-top: 10px;
    height: 100vh;
    width: 25%;
    position: fixed;
    display: flex;
    grid-template-columns: repeat(3, 1fr);
    flex-direction: column;
    align-items: center;
    color: rgb(160, 157, 155);

    /* border-right: 1px solid white; */
    top: 0;
    left: 0;
    bottom: 0;
    /* Adjust to fit your layout */
    z-index: 1000;
    /* Adjust the z-index as needed */
    /* overflow-y: auto; */
    overflow: hidden;
    /* Add a vertical border */
}


/* ... rest of the styles remain unchanged ... */

.custom-icon {
    padding-left: 4px;
    padding-right: 10px;
    /* margin-right: 2rem; */
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}

li {
    margin-bottom: 5px;
    padding-bottom: 10px;
}

a {
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    color: rgb(160, 157, 155);

    display: flex;
    align-items: center;
    padding: 6px;
    border-radius: 20px;
    /* Oval shape */
}

a:hover {
    background-color: #333;
    /* Gray color popping */
    transform: scale(1.1);
    /* Increase size on hover */
}

i {
    margin-right: 8px;
}

.separator {
    width: 100%;
    border-top: 1px solid white;
    margin: 10px 0;
}

.post-button,
.logout-button {
    margin-top: auto;
    padding: 10px;
}

button {
    background-color: white;
    color: black;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    font-weight: bold;
    border-radius: 999px;
}

button:hover {
    background-color: #f0f0f0;
}