/* Navigation.css */

header {
    background-color: #625151;
    /* Dark background color */
    padding: 15px 20px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    /* Subtle box shadow */
}

nav {
    display: flex;
    justify-content: space-around;
}

button {
    /* background-color: #041220; */
    color: #ecf0f1;
    padding: 10px 15px;
    border: none;
    /* border-radius: 5px; */
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #34495e;
}

.home {
    display: grid;
    grid-template-columns: 25% 45% 30%;
    /* gap: 20px; */
}

.Central-component {
    top: 0;
    bottom: 0;
    width: 100%;
    margin: 0;
}