


.message{
    background-color: black;
    /* padding-top: 20px; */
    color: rgb(160, 157, 155);
    /* border-left: 1px solid rgb(102, 94, 94); */
    /* border-right: 1px solid rgb(102, 94, 94); */
    
}

.first-view{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
    color: white;
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
}

.message-view{
  background-color: transparent;
    /* padding-top: 20px; */
    color: rgb(160, 157, 155);
  }
  
.chat-box{
  height: 87vh;
  padding: 10px;
  display: flex;
  flex-direction: column-reverse;

  flex-grow: 1; /* Make the chat box take up remaining space */
  overflow-y: scroll; /* Add vertical scrollbar */

  &::-webkit-scrollbar{

    width: 5px;
    color: rgb(175, 19, 19);
    background-color: #302e2e;
  }

}

.username-section{
  width: 44.5%;
  display:flex;
  position: fixed;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: rgba(0, 0, 0, 0.9);
}


.message-input{
  bottom: 0;
  position: fixed;
  /* display:flex; */
  width: 44.8%;
  border-top: gray solid 1px;
  align-items: center;
  justify-content: center;
  background-color: black;
  z-index: 1;
}
.message-input-bar{

  align-items: center;
  width: 100%;
  padding: 10px;
  padding-left: 7%;
  padding-right: 7%;

  
}

.chat-input {
  flex: 1;
  width: 80%;
  padding: 12px;
  
  /* margin-right: 8px; */
  border-radius: 15px;
  outline: none;
  background-color: rgb(32, 35, 39);
  
}


.send-button {
  position: absolute;
  right: 12%;
  top: 35%;
  transform: translateY(-30%);
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
}

.send-icon {
  width: 24px;
  height: 24px;
}

.message-content{
  background-color: rgba(29,155,240,1.00);
}