
hr{
  border: 1px solid white;
}

.message{
    background-color: black;
    /* padding-top: 20px; */
    color: rgb(160, 157, 155);
    /* border-left: 1px solid rgb(102, 94, 94); */
    /* border-right: 1px solid rgb(102, 94, 94); */
    
}

.first-view{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
    color: white;
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
}

.message-view{
  background-color: black;
    /* padding-top: 20px; */
    color: rgb(160, 157, 155);
    padding-top: 20px;
    height: 100vh;
    overflow-x: auto;
    overflow-x: hidden;

    &::-webkit-scrollbar{

      width: 5px;
      color: rgb(175, 19, 19);
      background-color: #302e2e;
    }
}

.username-section{
  width: 45%;
  display:flex;
  position: fixed;
}


.message-input{
  bottom: 0;
  position: fixed;
  /* display:flex; */
  width: 45%;
  border-top: gray solid 1px;
  align-items: center;
  justify-content: center;
}
.message-input-bar{

  align-items: center;
  width: 100%;
  padding: 10px;
  padding-left: 7%;
  padding-right: 7%;

  
}

.chat-input {
  flex: 1;
  width: 80%;
  padding: 12px;
  /* margin-right: 8px; */
  border-radius: 15px;
  outline: none;
  background-color: rgb(32, 35, 39);
  
}


.send-button {
  position: absolute;
  right: 12%;
  top: 35%;
  transform: translateY(-30%);
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
}

.send-icon {
  width: 24px;
  height: 24px;
}

.send-button:hover {
  /* width: 24px;
  height: 24px; */

  /* background-color: white; */
}