/* ProfilePage.css */

h1{
    margin-bottom: 0px;
}

hr{
  margin: 0px;
}

.profile-container {
    background-color: black;
    /* padding-top: 20px; */
    color: rgb(160, 157, 155);
    border-left: 1px solid rgb(102, 94, 94);
    border-right: 1px solid rgb(102, 94, 94);
    height: 100vh;
}

.profile-header {
  text-align: center;
}

.avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.bio {
  color: gray;
}

.profile-stats {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.stat {
  text-align: center;
}

.stat span {
  font-weight: bold;
  font-size: 1.2em;
}

.menu-section {
    display: grid;
    color: rgb(92, 91, 90);
    text-align: center;

    grid-template-columns: auto auto auto auto auto;
}

.nav-link{
    height: 35px;
    display: inline;
    border-radius: 0%;
    align-items: center;
    font-size: 17px;

}
.nav-link:hover{
    background-color: #2e2d2d;
    
    font-size: 17px;
    transform: 0;

}