/* LoginPage.css */

.login-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #2c3e50;
    /* Dark background color */
    color: #ecf0f1;
    /* Text color */
}

.login-form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 10px;
    font-size: 14px;
}

input {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #34495e;
    /* Dark border color */
    border-radius: 5px;
    background-color: #34495e;
    /* Dark background color */
    color: #ecf0f1;
    /* Text color */
}

button {
    background-color: #3498db;
    /* Button background color */
    color: #ecf0f1;
    /* Text color */
    padding: 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #2980b9;
    /* Darker button background color on hover */
}